.main {
  min-height: 100vh;
  padding-bottom: var(--space-20);
}

.heroSeparator {
  margin-top: var(--space-20);
  margin-bottom: var(--space-20);
}

.workSection {
  margin-top: 5rem !important;
}
